#content {
    margin: 70px auto 0 auto;
    box-sizing: border-box;
    max-width: $app-width;

    ul, ol {
        margin: 0;
        padding-left: 20px;
        li {
            margin-bottom: 10px;
            ul, ol {
                margin-top: 10px;
                padding-left: 20px;
                li {
                    margin-bottom: 5px
                }
            }
        }
    }
}
@media (max-width: ($app-width + 40)) {
    #content {
        padding-left: 20px;
        padding-right: 20px;
    }
}
