$color-primary: #2D3349;
$color-secondary: #999;
$color-draggable: #18a4c2;
$color-info: #8eb4cb;
$color-success: #2ab27b;
$color-warning: #cbb956;
$color-danger: #bf5329;
$color-white: #ffffff;
$color-black: #000000;
$color-link: #3492ff;
$color-telegram: #0088cc;
$color-facebook: #3b5998;
$color-twitter: #00acee;
$color-newsletter: #52bad5;

$font-family-base: 'Open Sans', sans-serif;
$font-size-base: 14px;
$line-height-base: 16px;
$text-color: #636b6f;
$text-color-light: #777;
$form-border-color: #999;
$border-color-light: #dfdfdf;

$app-width: 1000px;

$app-mobile-width: 767px;
